html, body {
    height: 100%;
    min-height: 100%;
    background-color: grey;
}

.container{
    height: 100%;
    background-color: lightcyan;
    padding-top: 2%;
    overflow: scroll;
}

#topRow{
    font-family: Montserrat;
    margin-bottom: -3.5%;
}

h1{
    margin-top: 2%;;
    font-weight: bold;
    font-size: 9vh;
    height: 20%;
}

#photoRow{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 50%;
}

#randomPhotoDiv {
    align-self: center;
    max-width: 90%;
    height: 90%;
    width: auto;
}

#infoRow{
    margin-top: -5%;
    margin-bottom: 1%;
}

#letterSpaces{
    font-size: 3vh;
    font-family: Montserrat;
}


#pointsDiv{
    font-size: 3vh;
    font-family: Montserrat;
}

#livesDiv{
    font-size: 3vh;
    font-family: Montserrat;
}

#guessedLetters{
    font-size: 3vh;
    font-family: Montserrat;
}

#topButtonRow{
    display: flex;
    justify-content: center;
}

#bottomButtonRow{
    display: flex;
    justify-content: center;
    margin-top: -2%;
}

.letter-{
    display: flex;
}

button {
    display: flex;
    border-radius: 4px;
    font-family: Montserrat;
    height: 4vh;
    width: 4vh;
    font-size: 2vh;
    justify-content: center;
    align-content: center;
    text-align: center;
}


